/*Tarjetas principales*/
.tarjeta{
	border-top: #ed1d24 solid 5px !important;
	box-shadow: 2px 2px 5px #999;
}

/*TABLERO DICTAMENES*/
#tablero{
	display: block;
	overflow: auto;
	height:60vh;
	font-size: 12px;
	background-color: #E8E8E9;
}


/*valoracion*/
.clasificacion input[type="radio"] {
  display: none;
}

.clasificacion label {
  color: white;
}

.clasificacion {
	background-color: black;
	border-radius: 5px;
	direction: rtl;
	unicode-bidi: bidi-override;
	font-size: 40px;
}

.clasificacion label:hover,
label:hover ~ label {
	color: gold;
}

.clasificacion input[type="radio"]:checked ~ label {
	color: gold;
}

#ranking_valor{
	font-weight: bold;
	font-size: 20px;
}

/*botones*/

.btn-shadow{
	box-shadow: 2px 2px 5px #999;
}

.btn-red{
	background-color: #ed1d24;
	color: white !important;
}
